.view-catalog {
    &__margin {
        margin: 60px 0;  

        @include media-down($lg) {
            margin: 40px 0;
        }
    
        @include media-down($md) {
            margin: 30px 0;
        }
    }
}

.view-catalog-btn {
    display: block;
    margin: 0 auto; 
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-color);
    background: linear-gradient(90deg, rgba(60,185,80,1) 0%, rgba(19,221,51,1) 100%);
    padding: 15px 30px;
    border-radius: 50px;
    letter-spacing: 0.1rem;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}