:root {
    --black-color: #444444;
    --white-color: #fff;
    --gray-color: #C0C0C0;
    --accent-color: #4BB45E;
    --parameters-block-bg: #F5F9EC;
    --flower-centers-bg: #FFF5F5;
    --flower-centers-hover: #FF5555;
    --feedback-comment-bg: #FFFEF2;
    --news-card-border: #E6E6E6;
}

$md: 480;
$lg: 793;
$l: 900;
$x: 1055;
$xl: 1170;
$xll: 1702;
$xxl: 1920;